* {
  padding: .5em;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.9051995798319328) 0%, rgba(94,26,136,1) 100%);
}

.btn {
    margin: 1px;
}

h2 {
  color: white;
}
.col-sm-2{
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal{
  background: linear-gradient(90deg, rgba(2,0,36,0.9051995798319328) 0%, rgba(94,26,136,1) 100%);
  
}
.modal-body{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.modal-header{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.modal-footer{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.modal-title{
  color: white;
}

.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 50%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 70%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

button.btn-close {
  background-color: red;
}

.options {
  height: 30px;
}